<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nutri Product Management</title>

    <!-- Library Scripts -->
    <script src="js/angular.min.js" charset="utf-8"></script>
    <script src="js/angular-resource.js" charset="utf-8"></script>
    <script src="js/angular-mocks.js" charset="utf-8"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Application Script -->
    <script src="app/app.js" charset="utf-8"></script>

    <!-- Application controllers -->
    <script src="app/products/productListCtrl.js" charset="utf-8"></script>

    <!-- Services  -->
    <script src="common/services/common.services.js" charset="utf-8"></script>
    <script src="common/services/productResource.js" charset="utf-8"></script>
    <script src="common/services/productResourceMock.js" charset="utf-8"></script>

  </head>
  <body ng-app="productManagement">

      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="col-md-4 table-responsive">
            <table ng-controller="ProductListCtrl as vm" class="table table-hover">

              <thead>
                <tr>
                  <td><button type="button" class="btn btn-primary" name="button"
                              ng-click="vm.toggleImage()"> {{ vm.showImage ? "Hide" : "Show" }} Image
                      </button>
                  </td>
                  <td>Product</td>
                  <td>Code</td>
                  <td>Available</td>
                  <td>Price</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in vm.products">
                  <td>
                    <img ng-if="vm.showImage"
                         ng-src="{{ product.imageUrl }}"
                         title="{{ product.productName }}"
                         style="width:140px;margin:2px"
                         class="img-thumbnail">
                  </td>
                  <td>{{ product.productName}}</td>
                  <td>{{ product.productCode }}</td>
                  <td>{{ product.releaseDate }}</td>
                  <td>{{ product.price | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

    </div>


  </body>
</html>
